<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Weeb Hub</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/dashboard">Home <i nz-icon nzType="home" nzTheme="outline"></i></a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/web-analytics">Web Analytics <i nz-icon nzType="pie-chart" nzTheme="outline"></i></a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/activity-logs">Activity Log <i nz-icon nzType="field-time" nzTheme="outline"></i></a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Management" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/register">New User Registration <i nz-icon nzType="user-add" nzTheme="outline"></i></a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/admin">Manage Admin Accounts <i nz-icon nzType="edit" nzTheme="outline"></i></a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/user">Manage User Accounts <i nz-icon nzType="edit" nzTheme="outline"></i></a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Account" nzIcon="user">
        <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/login">Settings <i nz-icon nzType="setting" nzTheme="outline"></i></a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/login">Logout <i nz-icon nzType="logout" nzTheme="outline"></i></a>
            </li>
          </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>