<nz-table nzBordered [nzPageSize]="50" [nzScroll]="{ y: '355px' }" [nzData]="['']" [nzData]="['']" class="AD-table">
  <thead>
    <tr>
      <th nzWidth="10%"><b>User ID</b></th>
      <th nzWidth="15%"><b>Username</b></th>
      <th nzWidth="15%"><b>Email</b></th>
      <th nzWidth="15%"><b>First Name</b></th>
      <th nzWidth="15%"><b>Last Name</b></th>
      <th nzWidth="15%"><b>Time Created</b></th>
      <th><b>Actions</b></th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let AData of listofFetchAdminData">  
        <td>{{AData.admin_id}}</td>
        <td>{{AData.admin_username}}</td>
        <td>{{AData.admin_email}}</td>
        <td>{{AData.admin_firstname}} </td>
        <td>{{AData.admin_lastname}}</td>
        <td>{{AData.admin_timecreated}}</td>
        <td class="action-btn">
          <a>Update</a><br>
          <a>Delete</a>
        </td>
      </tr>
  </tbody>
</nz-table>