<nz-carousel nzAutoPlay>
    <div nz-carousel-content *ngFor="let index of array">
        <h3>{{ index }}</h3>
    </div>
</nz-carousel>
<div nz-row>
    <div nz-col nzSpan="16">
        <nz-card nzTitle="Task to Complete">
            <div class="card" nz-card-grid [ngStyle]="gridStyle">Task 1</div>   
            <div class="card" nz-card-grid [ngStyle]="gridStyle">Task 2</div>   
            <div class="card" nz-card-grid [ngStyle]="gridStyle">Task 3</div>   
            <div class="card" nz-card-grid [ngStyle]="gridStyle">Task 4</div>   
            <div class="card" nz-card-grid [ngStyle]="gridStyle">Task 5</div>   
            <div class="card" nz-card-grid [ngStyle]="gridStyle">Task 6</div>   
            <div class="card" nz-card-grid [ngStyle]="gridStyle">Task 7</div>   
            <div class="card" nz-card-grid [ngStyle]="gridStyle">Task 8</div>   
        </nz-card>
    </div>
    <div nz-col nzSpan="8">
        <div class="calendar-container" [ngStyle]="{ width: 'auto', border: '2px solid black', borderRadius: '4px' }">
            <nz-calendar [nzFullscreen]="false" (nzSelectChange)="onValueChange($event)"
                (nzPanelChange)="onPanelChange($event)"></nz-calendar>
        </div>
    </div>
</div>